<div class="chat_container container" id="chatContainer">
    <div id="mensajes" class="msgs_container">
    </div>
    <div>
        <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Escribe tu mensaje">
    </div>
</div>