<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="t  ext/css">
    <title>Inscripciones TDEA</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Inscripciones TDEA</h1>
            <hr>
        </div>
    </header>
