<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Inscripciones TDEA</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand text-light" href="#">Inscripciones TDEA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {{#if aspirante}}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/listarCursos">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/listarInscripciones">Tus inscripciones</a>
                        </li>
                    {{/if}}
                    {{#if coordinador}}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/administrarCursos">Administrar cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/administrarUsuarios">Administrar Usuarios</a>
                        </li>
                    {{/if}}
                    {{#if docente}}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/listarCursosDocente">Cursos</a>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/contactanos">Contactanos</a>
                    </li>
                </ul>
                <span class="navbar-text ">
                    <a href="/logout" class="text-light">Cerrar sesion ({{nombre}})</a>
                </span>
            </div>
        </nav>
    </header>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/socket.js"></script>