{{>header}}

<div class="container">
    {{{mensajeError}}}
    {{{mensajeExito}}}
    <div class="row">
        <div class="col-md-12">
            <h3>Iniciar Sesión</h3>
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Tu correo" value="{{email}}"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Tu contraseña" value=""/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Ingresar"/>
                </div>
                <div class="form-group">
                    <a href="/registrar">Registrarte</a>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}