<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="t  ext/css">
    <title>Inscripciones TDEA</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Inscripciones TDEA</h1>
            <hr>
        </div>
    </header>

    <div class="container">
        {{{mensajeError}}}
        {{{mensajeExito}}}
        <div class="row">
            <div class="col-md-12">
                <h3>Iniciar Sesión</h3>
                <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" id="email" name="email" class="form-control" placeholder="Tu correo" value="{{email}}"/>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Tu contraseña" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Ingresar"/>
                    </div>
                    <div class="form-group">
                        <a href="/registrar">Registrarte</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{{>footer}}